footer class="c-footer"
  = image_tag 'logo-white.png', class: 'c-footer__logo'
  a class="c-footer__text" href="mailto:helena@cocomama.us" helena@cocomama.us
  .c-footer__text &copy; 2019 Cocomama.us. All rights reserved.