.c-hero-image {
  background-image: image-url('hero_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient {
    align-items: center;
    background-image: linear-gradient(to top, $background__gradient--dark-black, $background__gradient--light-black, $background__gradient--dark-black);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 3rem;
    width: 60vw;

    @media (min-width: $desktop) {
      width: 400px;
    }
  }

  &__title {
    color: $heading__text--white;
    font-family: $font--heading;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 3.5rem;
      margin-bottom: 6rem;
    }
  }
}
