// Fonts
$font--heading: 'Roboto', sans-serif;
$font--body: 'Open Sans', sans-serif;

// Colors
$cocoa: #f89e27;
$background--white: #fff;
$heading__text--gray: #2e3234;
$heading__text--pink: #d14262;
$body__text--gray: #222;
$link__text--pink: #e72a53;
$link__text--footer: #1a1a1a;
